<div class="alert" [ngClass]="{ 'show': shown }">
  <div id="title">
    <div class="icon" [ngClass]="
    { 
      'ion-alert': data?.type == null || data?.type == 'alert',
      'ion-close': data?.type == 'error',
      'ion-checkmark': data?.type == 'success'
    }
   "></div>
      {{ data?.title }}
  </div>
  <div id="content">
    {{ data?.message }}
  </div>
  <div id="footer">
    <button class="btn-alert"
      [ngStyle]="style(btn.main)"
      *ngFor="let btn of data?.btns"
      (click)="call(btn.function, btn.close)">
        {{ btn.name }}
      </button>
  </div>
</div>