$ionicons-font-path: "../../../node_modules/ionicons/fonts";
@import "../../../node_modules/ionicons/scss/ionicons.scss";

$alert-color: #03A9F4;
$success-color: #72BB53;
$error-color: #FF3823;

.alert {
    display: block;
    position: fixed;
    left: 25%;
    top: -100%;
    margin: auto;
    width: 50%;
    border-radius: 0;
    padding: 10px;
    opacity: 0;
    
    transition: opacity .2s, top .2s;
}

#title {
    color: white;
    padding: 10px;
}

.title-a {
    background-color: $alert-color;
}

.title-s {
    background-color: $success-color;
}

.title-e {
    background-color: $error-color;
}

#title-content {
    display: inline-block;
    font-size: 24px;
}

#content {
    background-color: white;
    border-bottom: none;
    padding: 10px;
}

.content-a {
    border: 1px solid $alert-color;
}

.content-s {
    border: 1px solid $success-color;
}

.content-e {
    border: 1px solid $error-color;
}

#footer {
    background-color: white;
    border-top: none;
    padding: 10px;
    text-align: right;
}

.footer-a {
    border: 1px solid $alert-color;
}

.footer-s {
    border: 1px solid $success-color;
}

.footer-e {
    border: 1px solid $error-color;
}

.btn {
    color: $alert-color;
    background-color: white;
    margin-left: 5px; 
    
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 2px;
}

.btn-a {
    border: 1px solid $alert-color;
    border-color: $alert-color;
}

.btn-s {
    border: 1px solid $success-color;
    border-color: $success-color;
}

.btn-e {
    border: 1px solid $error-color;
    border-color: $error-color;
}

.show {
    opacity: 1;
    top: 40%;
}

.icon {
    display: inline-block;
    margin-right: 10px;
    width: 20px;
    border: 1px solid #fff;
    border-radius: 50px;
    text-align: center;
    top: 0 !important;
    vertical-align: text-bottom;
}